/*
*/
/* 
    Created on : 13-gen-2018, 19.25.12
    Author     : maria
*/

@font-face {
    font-family: "Delicious";
    src: url('/res/digit.ttf');
}
.root {
    -fx-background-color: transparent;
    -fx-font-family: "Delicious";
    -fx-font-size: 40px;
    -fx-background-image: url("/res/background_001.jpg");
}
#labeldigit {
    font-weight: bold;
    -fx-background-color: transparent;
    -fx-font-family: "Digit";
    -fx-font-size: 48px;
    -fx-text-fill: linear-gradient(to bottom right, red, gray);
    -fx-effect: dropshadow( three-pass-box , grey , 8 , 0.0 , 2 , 0 );
}